
/**
 * RobotoCondensed font face
 */
@font-face {
   font-family: 'RobotoCondensed';
   font-display: swap;
   src: url("@f/RobotoCondensed-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    
/**
 * Unbounded font face
 */
@font-face {
   font-family: 'Unbounded';
   font-display: swap;
   src: url("@f/Unbounded-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    
/**
 * icons font face
 */
@font-face {
   font-family: 'icons';
   font-display: swap;
   src: url("@f/icons.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    