#magic-cursor {
   --magic-cursor-color-main: rgba(142, 81, 255, 1);
   --magic-cursor-color-border: rgba(142, 81, 255, 1);
   --magic-cursor-color-text: #ffffff;
   --magic-cursor-magnetic-opacity: 0.5;
   --magic-cursor-shadow-size: 10px;
   --magic-cursor-bg-hover-text: rgba(142, 81, 255, 0.7);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 9999;
   // display: none;

   .magic-cursor-init & {
      display: block;
   }

   #ball {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--magic-cursor-color-text);
      border: none;
      background-color: transparent;

      /* overflow: hidden; */

      &::before {
         content: '';
         position: absolute;
         z-index: 1;
         display: block;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: inherit;
         background: var(--magic-cursor-color-main);
         border: 1px solid var(--magic-cursor-color-border);
         box-shadow: 0 0 5px 0 var(--magic-cursor-color-main);
         transition: all 0.3s ease-in;
         mix-blend-mode: difference;
      }

      &.is-active {
         &::before {
            background: var(--magic-cursor-bg-hover-text);
            box-shadow: 0 0 var(--magic-cursor-shadow-size) 0px var(--magic-cursor-bg-hover-text);
            border-color: var(--magic-cursor-bg-hover-text);
         }
      }

      &.is-magnetic {
         opacity: var(--magic-cursor-magnetic-opacity) !important;
      }

      img {
         display: block;
         z-index: 2;
         max-width: 100%;
         max-height: 100%;
         margin: auto;
         object-fit: contain;
      }
   }

   .ball-view-text {
      color: var(--magic-cursor-color-text);
      display: block;
      opacity: 1;
      font-size: 28px;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 4px;
      position: relative;
      z-index: 2;
   }

   &.interactive-hover-on #ball {
      &::before {
         opacity: 0.5;
      }

      .interactive-image {
         opacity: 1;
         max-width: 100%;
         max-height: 100%;
      }
   }

   &.magnetic-hover-on #ball {
      &::before {
         opacity: 0.7;
      }
   }

   &.alternative-hover-on #ball {
      &::before {
         opacity: 0.2;
      }
   }

   &.data-text-hover-on #ball {
      &::before {
         opacity: 0.8;
      }
   }

   &.caret-hover-on #ball {
      &::before {
         opacity: 0.4;
      }
   }
}

.interactive-image {
   display: none;
}