@use "@s/inc" as *;
@use "sass:math";

[class*="__container"] {
   container-type: inline-size;

   @if ($maxWidthContainer>0) {
      max-width: #{$containerWidth}px;
      margin: 0 auto;
      width: 100%;
   }

   @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
         padding: 0 #{$containerPadding / 2}px;
      }

      @else {
         @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
         @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
      }
   }
}

._container-small {
   max-width: #{$containerWidthSmall}px;
}