@use "sass:math";
// @use "@s/inc.scss" as *;

// ============ Params ========================================================

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1122;
$maxWidthContainerSmall: 922;
$containerPadding: 30;

// ============ Container =====================================================

$containerWidth: $maxWidthContainer + $containerPadding;
$containerWidthSmall: $maxWidthContainerSmall + $containerPadding;