@use "@s/inc" as *;

:root {
  --font-icons: ;
  --font-main: 'Montserrat', sans-serif;
  --font-size-main: 16px;

  //  Colors
  --color-text: #333333;
  --color-primary: #e24922;
  --color-secondary: #00493f;
  --color-white: #ffffff;
  --color-bg: #f2eeea;

  // Transitions

  --transition-main: 0.3s ease 0s;
}