<!-- === Component local variables === -->
<script define>
   const title = 'Modern template for developing WEB interfaces based on <span data-cursor-text="VITE" class="preview-hero__highlight">VITE</span>'
   const subtitle = 'Comfortable development of static pages using HTML components. Support for SCSS. Image optimization, icon font and SVG sprite generation, font conversion to WOFF2.'
   const buttonText = 'Documentation'
   const buttonUrl = 'https://vite-template-docs.frontelf.com/'
</script>

<link rel="stylesheet" href="@c/PreviewHero/preview-hero.scss">

<!-- === Component template === -->
<section class="preview-hero">
   <div class="preview-hero__container">

      <h1 class="preview-hero__title">
         {{title || 'No title'}}
      </h1>

      <p class="preview-hero__subtitle">
         {{subtitle}}
      </p>
      <Button btnAttrs="{'target': '_blank', 'data-test': 'value' }" variant="link" url="{{buttonUrl}}">
         {{buttonText}}
      </Button>
      <Button btnAttrs="{'data-modal-open': '#modal'}" variant="button">
         Modal
      </Button>
   </div>
</section>