<!-- Spoilers scss -->
<link rel="stylesheet" href="@c/UI/Spoilers/Spoilers.scss" />
<!-- Spoilers script -->
<script define>
	const spoilers = [
		{
			title: 'Title',
			text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.',
			image: '@i/1.jpg',
		},
		{
			title: 'Title 2',
			text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.',
			image: '@i/2.jpg',
		},
	]

	const randomGroup = RANDOM_ID('spoilers_group_')

	const isShow = (index) => {
		return index === 0 ? 'show' : 'hide'
	}

</script>

<!-- spoilers html -->
<div class="spoilers-section">
	<div class="spoilers-section__container">
		<div class="spoilers">

			<div v-for="(spoiler, index) in spoilers" class='spoiler' data-spoiler-state="{{isShow(index)}}" data-spoiler data-spoiler-group="{{randomGroup}}">
				<div class='spoiler__panel' data-spoiler-title>
					<div class='spoiler__text'>{{spoiler.title}}</div>
					<span class='spoiler__icon'>
						<svg stroke='currentColor' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round'>
							<polyline points='6 9 12 15 18 9'></polyline>
						</svg>
					</span>
				</div>
				<div class='spoiler__content' data-spoiler-content>
					<div class='spoiler__body'>{{spoiler.text}}</div>
				</div>
			</div>

		</div>

		<div class="spoilers-images">
			<img src="@i/3.jpg">
			<img v-for="spoiler in spoilers" class="spoilers-img" data-spoiler-image-group="{{randomGroup}}" src="{{spoiler.image}}">
		</div>
	</div>
</div>