<!-- Spoilers scss -->
<link rel="stylesheet" href="@c/UI/Spoilers/Spoilers.scss" />
<!-- Spoilers script -->
<script define></script>

<!-- spoilers html -->
<div class="spoilers-section">
	<div class="spoilers-section__container">
		<div class="spoilers">
			<div class='spoiler' data-spoiler data-spoiler-group="services">
				<div class='spoiler__panel' data-spoiler-title>
					<div class='spoiler__text'>Title</div>
					<span class='spoiler__icon'>
						<svg stroke='currentColor' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'>
							<polyline points='6 9 12 15 18 9'></polyline>
						</svg>
					</span>
				</div>
				<div class='spoiler__content' data-spoiler-content>
					<div class='spoiler__body'>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui sit mollitia quibusdam cumque ut maiores eveniet ullam id! Corrupti maxime error suscipit, facilis unde, ab totam vel explicabo illum quibusdam ratione beatae? Nemo, natus repellat facere saepe voluptatibus architecto rem voluptates, corrupti ad nam nulla pariatur harum cum eligendi.
					</div>
				</div>
			</div>
			<div class='spoiler' data-spoiler data-spoiler-group="services">
				<div class='spoiler__panel' data-spoiler-title>
					<div class='spoiler__text'>Title 2</div>
					<span class='spoiler__icon'>
						<svg stroke='currentColor' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'>
							<polyline points='6 9 12 15 18 9'></polyline>
						</svg>
					</span>
				</div>
				<div class='spoiler__content' data-spoiler-content>
					<div class='spoiler__body'>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui sit mollitia quibusdam cumque ut maiores eveniet ullam id! Corrupti maxime error suscipit, facilis unde, ab totam vel explicabo illum quibusdam ratione beatae? Nemo, natus repellat facere saepe voluptatibus architecto rem voluptates, corrupti ad nam nulla pariatur harum cum eligendi.
					</div>
				</div>
			</div>
		</div>

		<div class="spoilers-images">
			<img src="@i/3.jpg">
			<img class="spoilers-img" data-spoiler-image-group="services" src="@i/1.jpg">
			<img class="spoilers-img" data-spoiler-image-group="services" src="@i/2.jpg">
		</div>
	</div>
</div>