<div id="{{modalId}}" class="fe-modal">
   <div class="fe-modal-overlay" data-modal-close>

      <div class="fe-modal-wrapper">
         <div class="fe-modal-content">
            <button data-modal-close type="button" class="fe-button-close"><span>Close</span></button>
            <div class="fe-modal-content__body">
               <h2>Modal Content</h2>
               <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia magnam nostrum nemo quod ipsum f
                  uga ipsa consectetur obcaecati odit laborum!
               </p>
               <button type="button" data-modal-open="#modal2">Open</button>
            </div>
         </div>
      </div>

   </div>
</div>