
/**
 * Lato font face
 */
@font-face {
   font-family: 'Lato';
   font-display: swap;
   src: url("@f/Lato-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    
/**
 * Montserrat font face
 */
@font-face {
   font-family: 'Montserrat';
   font-display: swap;
   src: url("@f/Montserrat-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
}
                    
/**
 * Montserrat font face
 */
@font-face {
   font-family: 'Montserrat';
   font-display: swap;
   src: url("@f/Montserrat-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    
/**
 * Montserrat font face
 */
@font-face {
   font-family: 'Montserrat';
   font-display: swap;
   src: url("@f/Montserrat-SemiBold.woff2") format("woff2");
   font-weight: 600;
   font-style: normal;
}
                    
/**
 * RobotoCondensed font face
 */
@font-face {
   font-family: 'RobotoCondensed';
   font-display: swap;
   src: url("@f/RobotoCondensed-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    
/**
 * Unbounded font face
 */
@font-face {
   font-family: 'Unbounded';
   font-display: swap;
   src: url("@f/Unbounded-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    
/**
 * icons font face
 */
@font-face {
   font-family: 'icons';
   font-display: swap;
   src: url("@f/icons.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
                    