<!doctype html>
<html lang="{{lang}}">
   <!-- ============= Head ============= -->

   <Head pageTitle="{{title}}" description="{{description}}" />

   <body>
      <if condition="IS_MAGIC_CURSOR === true">
         <MagicCursor />
      </if>

      <if condition="IS_PRELOADER === true">
         <Preloader />
      </if>

      <div class="wrapper">
         <!-- =========== Header =========== -->
         <Header />
         <!-- ============ Main ============ -->
         <main>
            {{children}}
         </main>
         <!-- ============= Footer ============ -->
         <Footer />
      </div>
      <!-- ============= Scripts =========== -->
      <Scripts />
   </body>

</html>