<!doctype html>
<html lang="{{lang}}">
   <!-- ============= Head ============= -->

   <Head pageTitle="{{title}}" description="{{description}}" />

   <body>
      <MagicCursor v-if(IS_MAGIC_CURSOR===true) />
      <Preloader v-if(IS_PRELOADER===true) />

      <div class="wrapper">
         <!-- =========== Header =========== -->
         <Header />
         <!-- ============ Main ============ -->
         <main>
            {{children}}
         </main>
         <!-- ============= Footer ============ -->
         <Footer />
      </div>
      <!-- ============= Scripts =========== -->
      <Scripts />
   </body>

</html>