<!-- StreetMap scss -->
<link rel="stylesheet" href="@c/UI/StreetMap/StreetMap.scss" />
<!-- StreetMap script -->
<script define>
	const mapLocations = [
		{ coords: [26.65736904986804, 51.35870613712811], title: "Золоті Ворота 1" },
		{ coords: [26.61736904986607, 51.31870613712711], title: "Золоті Ворота 2" },
	]
</script>

<!-- street-map html -->
<div class="street-map">
	<div class="street-map__container">
		<div id="map" data-map-locations="{{JSON_STRINGIFY(mapLocations)}}" class="street-map__view"></div>
	</div>
</div>