@use "@s/inc" as *;
@use "sass:math";

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

html,
body,
.wrapper {
  min-height: 100vh;
  min-height: 100svh;
}

body {
  font-family: var(--font-main);
  font-size: var(--text-base);
  font-weight: var(--weight-regular);
  background-color: var(--color-bg);
  font-style: normal;
  min-width: $minWidth;

  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  .loaded & {}
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @supports (overflow: clip) {
    overflow: clip;
  }

  main {
    flex: 1 1 auto;

  }
}

//========================================================================================================================================================
//========================================================================================================================================================